<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Usuario existente</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='stylegeneral.css') }}">
</head>
<body>

  <div class="login-container">
    <h2>La contraseña no es la misma</h2>
    <p>Vuelve a confirmar la contraseña por favor</p>
    <button onclick="window.history.back()">Volver atrás</button>
  </div>

</body>
</html>
